In [2]:
import pandas as pd
import numpy as np
import re

In [39]:
opentable_df = pd.read_csv('/Users/marianaarrieta/Documents/Data_Projects/london_restaurants/raw_data/opentable_data.csv')

In [40]:
opentable_df.head()

,names,cuisine,price,reviews,rating,bookings,address
0,Seasons Mayfair,Fish,4,41.0,4.3,8.0,Mayfair
1,PAPA L's KITCHEN,African,4,257.0,4.6,6.0,St. James's
2,Coqbull Soho,Rotisserie Chicken,2,175.0,4.1,47.0,Soho
3,Ham Yard Bar and Restaurant,Modern European,2,3696.0,4.6,92.0,Soho
4,El Norte,Spanish,4,296.0,4.5,45.0,Mayfair

In [41]:
#Remove duplicates, if any 
opentable_df.drop_duplicates(subset = ['names'], inplace = True)

#Remove booking column 
opentable_df.drop(columns=['bookings'], inplace = True)

#Remove rows where there are no reviews
opentable_df = opentable_df[opentable_df['reviews'].notna()]

#Remove rows where the restaurant name contains "Permanently closed"
opentable_df = opentable_df[opentable_df["names"].str.contains("Permanently Closed") == False]

#Standarize caps
opentable_df['names'] = opentable_df['names'].str.lower()
opentable_df['names'] = opentable_df['names'].str.title()

In [42]:
#Remove rows with irrelevant cuisines
opentable_df = opentable_df[opentable_df.cuisine != 'Bar / Lounge / Bottle Service']
opentable_df = opentable_df[opentable_df.cuisine != 'Unspecified']
opentable_df = opentable_df[opentable_df.cuisine != 'Wine Bar']
opentable_df = opentable_df[opentable_df.cuisine != 'Lounge']
opentable_df = opentable_df[opentable_df.cuisine != 'Afternoon Tea']
opentable_df = opentable_df[opentable_df.cuisine != 'Breakfast']
opentable_df = opentable_df[opentable_df.cuisine != 'Pub']
opentable_df = opentable_df[opentable_df.cuisine != 'Dessert']
opentable_df = opentable_df[opentable_df.cuisine != 'Creperie']
opentable_df = opentable_df[opentable_df.cuisine != 'Cafe Dining']

In [43]:
opentable_df.cuisine.unique()

array(['Fish', 'African', 'Rotisserie Chicken', 'Modern European',
       'Spanish', 'British', 'French', 'Steak', 'Middle Eastern',
       'European', 'Italian', 'Indian', 'Seafood', 'Japanese', 'Filipino',
       'Chinese', 'Russian', 'Greek', 'Tapas / Small Plates',
       'Contemporary British', 'American', 'Californian', 'Thai',
       'Steakhouse', 'Dim Sum', 'Pizza Bar', 'Korean', 'Turkish',
       'Caribbean', 'Nordic', 'Lebanese', 'Burgers', 'Asian',
       'Contemporary French', 'Japanese (Yakiniku)', 'International',
       'Latin American', 'Vegan', 'Peruvian', 'Pan-Asian', 'English',
       'Mediterranean', 'Mexican', 'Contemporary European', 'Vietnamese',
       'Australian', 'Contemporary Asian', 'Cocktail Bar',
       'Japanese Speciality', 'Global, International', 'Sushi',
       'Vegetarian / Vegan', 'Bistro', 'Pizzeria', 'Sicilian',
       'Eastern European', 'Contemporary American', 'Southeast Asian'],
      dtype=object)

In [44]:
cuisine_dict = {"Fish" : 'Seafood', "European": "Modern European", 
"Tapas / Small Plates": 'Spanish', "Contemporary British": "British", "Californian": "American", "Steakhouse": "Steak", 
"Dim Sum": "Chinese", "Pizza Bar": "Italian", "Contemporary European": "Modern European", "Lebanese": "Middle Eastern", 
"Turkish":"Middle Eastern", "Syrian": "Middle Eastern", "Contemporary French": "French", "Japanese (Yakiniku)": "Japanese", 
"Vegan": "Vegetarian / Vegan", "English": "British", "Contemporary Asian": "Modern Asian", "Japanese Speciality": "Japanese", 
"Global, International": "International", "Pizzeria": "Italian", "Sicilian": "Italian", "Argentinian": "Steak", 
"Sushi": "Japanese", "Continental":"International"}

In [45]:
opentable_df =opentable_df.replace({"cuisine": cuisine_dict})

In [46]:
opentable_df

,names,cuisine,price,reviews,rating,address
0,Seasons Mayfair,Seafood,4,41.0,4.3,Mayfair
1,Papa L'S Kitchen,African,4,257.0,4.6,St. James's
2,Coqbull Soho,Rotisserie Chicken,2,175.0,4.1,Soho
3,Ham Yard Bar And Restaurant,Modern European,2,3696.0,4.6,Soho
4,El Norte,Spanish,4,296.0,4.5,Mayfair
...,...,...,...,...,...,...
493,Rice Coming - Chinatown,Chinese,2,2.0,3.9,Soho
494,Vesuvio Restaurant,Italian,2,8.0,3.9,Soho
495,Peperoncino,Italian,2,8.0,3.8,Piccadilly
496,Pizza Toscana,Italian,2,306.0,4.2,Soho
497,Princi - Shaftesbury Avenue.,Italian,2,9.0,4.0,Soho

In [48]:
opentable_df.to_csv("open_table_cleaned.csv")